@charset "utf-8";

/* KB간편서비스 */
.comportableService .small_title {
  margin-top: 25px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
}
.comportableService .small_title .small_title_line {
  margin-right: 10px;
  display: inline-block;
  width: 3px;
  height: 18px;
  background: #675f55;
  vertical-align: middle;
  transform: translateY(-2px);
}
.comportableService .cS_wrap {
  width: 100%;
  height: 150px;
}
.comportableService .cS_wrap .cS_box .csBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.comportableService .cS_wrap .cS_box .csBox .cS_icon {
  width: 45%;
  text-align: center;
}
.comportableService .cS_wrap .cS_box .csBox .cS_icon .cS-icon-box {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.comportableService .cS_wrap .cS_box .csBox .cS_icon .cib1{background: url(../img/cS_icon1.png) #fff;}
.comportableService .cS_wrap .cS_box .csBox .cS_icon .cib2{background: url(../img/cS_icon2.png) #fff;}
.comportableService .cS_wrap .cS_box .csBox .cS_icon .cib3{background: url(../img/cS_icon3.png) #fff;}
.comportableService .cS_wrap .cS_box .csBox .cS_icon .cib4{background: url(../img/cS_icon4.png) #fff;}
.comportableService .cS_wrap .cS_box .csBox:hover .cS_icon .cib1 {
  background: url(../img/cS_icon1_r.png) #ba9551;
  border: 0;
}
.comportableService .cS_wrap .cS_box .csBox:hover .cS_icon .cib2 {
  background: url(../img/cS_icon2_r.png) #ba9551;
  border: 0;
}
.comportableService .cS_wrap .cS_box .csBox:hover .cS_icon .cib3 {
  background: url(../img/cS_icon3_r.png) #ba9551;
  border: 0;
}
.comportableService .cS_wrap .cS_box .csBox:hover .cS_icon .cib4 {
  background: url(../img/cS_icon4_r.png) #ba9551;
  border: 0;
}

.comportableService .cS_wrap .cS_box .csBox .cS_txt {
  width: 55%;
  text-align: center;
}
.comportableService .cS_wrap .cS_box .csBox .cS_txt p {
  font-size: 13px;
  color: #666;
  text-align: left;
}
.comportableService .cS_wrap .cS_box .csBox .cS_txt p span {
  display: block;
  font-size: 14px;
  color: #000;
}

.cS_prev {
  width: 30px;
  height: 30px;
  background-position: 0 -400px;
  top: 15%;
  left: auto;
  right: 9%;
}
.cS_next {
  width: 30px;
  height: 30px;
  background-position: 0px -430px;
  top: 15%;
  right: 5%;
}

.cS_prev::after, .cS_next::after {
  display: none;
}

.cS_prev:hover {background-position: -30px -400px;}
.cS_next:hover {background-position: -30px -430px;}

/* 금융상품 */
.financeProduct {background: #f3ece6;}
.financeProduct .financeProduct_box {
  padding: 75px 0 130px;
}
.financeProduct .financeProduct_box ul {
  float: left;
  text-align: center;
  width: 25%;
}
.financeProduct .financeProduct_box ul .fP_icon {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ffce0b;
}
.financeProduct .financeProduct_box ul .fP_icon img {
  width: 100%;
}
.financeProduct .financeProduct_box ul .fP_title {
  padding: 25px 0 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
}
.financeProduct .financeProduct_box ul .fP_desc {
  font-size: 13px;
  color: #555;
  letter-spacing: -1px;
}
.financeProduct .financeProduct_box ul .fP_btn a {
  margin-top: 40px;
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  background: #60584d;
  font-size: 12px;
  color: #fff;
  transition: all 0.5s;
}
.financeProduct .financeProduct_box ul .fP_btn a:hover {
  background: #fff;
  border: 1px solid #ddd;
  color: #000;
}

/* 예금/적금상품 */
.savingsProduct .sP_wrap {width: 100%;}
.savingsProduct .sP_wrap .sP_wrap_box {margin-top: 90px;}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner {
  width: 25%;
}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_img {
  overflow: hidden;
}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_img img {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner:hover .sP_img img {
  transform: scale(1.2);
}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_txt {padding-top: 35px;}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_txt dt {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -1px;
}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_txt dd {
  padding: 20px 0 30px;
  line-height: 1.6;
  font-size: 10px;
  letter-spacing: -0.5px;
  color: #333;
}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_txt a
{font-size: 10px;}
.savingsProduct .sP_wrap .sP_wrap_box .spBanner .sP_txt a .go_io {
  font-size: 12px; 
  vertical-align: middle;
  transform: translateY(-1.5px);
}

.savingsProduct .sP_btn {
  margin: 65px auto 110px;
  width: 190px;
  height: 50px;
  background: #d4cdcd;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.sP_prev {
  width: 40px;
  height: 80px;
  background-position: 0px -80px;
  top: 37%;
  left: 0;
}
.sP_next {
  width: 40px;
  height: 80px;
  background-position: 0px -160px;
  top: 37%;
  right: 0;
}
.sP_prev::after, .sP_next::after {
  display: none;
}
.sP_prev:hover {background-position: -40px -80px;}
.sP_next:hover {background-position: -40px -160px;}

/* 신용/체크카드 */
.cardProduct {background: #e8e8e7;}
.cardProduct .cP_wrap {
  width: 100%;
  padding: 70px 0 45px;
}
.cardProduct .cP_wrap .cpBox {
  cursor: pointer;
}
.cardProduct .cP_wrap .cpBox .cP_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardProduct .cP_wrap .cpBox .cP_img img {
  transition: transform 0.5s;
}
.cardProduct .cP_wrap .cpBox .cP_txt {
  padding: 40px 0;
  text-align: center;
}
.cardProduct .cP_wrap .cpBox .cP_txt .cP_title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -2px;
}
.cardProduct .cP_wrap .cpBox .cP_txt .cP_desc {
  padding: 10px 0 30px;
  font-size: 13px;
  color: #666;
  letter-spacing: -1px;
}

.cardProduct .cP_wrap .cpBox .cP_txt .cardIntroduction {
  display: flex;
  justify-content: space-evenly; 
}
.cardProduct .cP_wrap .cpBox .cP_txt .cardIntroduction .cI_box1 p {
  font-size: 10px;
}
.cardProduct .cP_wrap .cpBox .cP_txt .cardIntroduction .cI_box1 p .fee_icon {
  vertical-align: middle;
  margin-right: 3px;
}
.cardProduct .cP_wrap .cpBox .cP_txt .cardIntroduction .cI_box2 .card_kinds {
  width: 55px;
  height: 20px;
  line-height: 20px;
  background: #ffde02;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  color: #fff;
}

.cardProduct .cP_wrap .cpBox .cP_img img:hover {
  transform: rotate(-90deg);
}

.cP_prev {
  width: 40px;
  height: 80px;
  background-position: 0px -240px;
  top: 35%;
  left: 0;
}
.cP_next {
  width: 40px;
  height: 80px;
  background-position: 0px -320px;
  top: 35%;
  right: 0;
}
.cP_prev::after, .cP_next::after {
  display: none;
}
.cP_prev:hover {background-position: -40px -240px;}
.cP_next:hover {background-position: -40px -320px;}